
@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS03-Thin.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtendedThin.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ThinOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ThinOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtendedThinOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtendedThinOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ThinItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtendedThinItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtraLight.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtendedExtraLight.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtraLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtraLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtraLightItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS03-Light.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtendedLight.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS03-LightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS03-LightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtendedLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtendedLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS03-LightItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtendedLightItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS03-Regular.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS03-Extended.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS03-Oblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS03-Oblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtendedOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtendedOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS03-Italic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtendedItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS03-Medium.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtendedMedium.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS03-MediumOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS03-MediumOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS03-MediumItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtendedMediumItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS03-SemiBold.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtendedSemiBold.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS03-SemiBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS03-SemiBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS03-SemiBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS03-Bold.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtendedBold.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS03-BoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS03-BoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS03-BoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtendedBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtraBold.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtendedExtraBold.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtraBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtraBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtraBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS03-Heavy.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtendedHeavy.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS03-HeavyOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS03-HeavyOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS03-HeavyItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS03-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS03-ExtendedHeavyItalic.ttf') format('truetype');
}
